

.carousel-item img{
    height: 80vh;
}
.container a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
#contact{
  height: 50vh;
  width: 60%;  
}
#don{
    height: 50vh;
}
@media screen and (max-width: 480px) { 
    .carousel-item img{
        height: 45vh;
    }
#don{
    height: 60vh;
}
#contact{
    height: 80%;
    width: 80%;  
  }
  }